.minha-conta-infos{
    padding: 10px;
    text-align: center;
}

.formas-de-pagamento{
    padding: 15px;
    border-radius: 10px;
}
.formas-de-pagamento:hover{
    background-color: #46aa2e;
    color: white;
    transition: all 1s;
}